.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10rem;
}

.blog__title {
  color: var(--color-text-title);
  font-family: 'Montserrat';
  font-size: 3.2rem;
  text-align: center;
}

.blog__description {
  max-width: 510px;
  margin-top: 1.5rem;

  color: var(--color-text);
  font-family: 'Muli';
  font-size: 1.6rem;
  text-align: center;
}

.blog__exhibition {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}