input:not([type=checkbox]) {
  /* width: 34.3rem; */
  height: 5.2rem;
  padding: 1.5rem;

  color: var(--color-text-title);
  font-family: 'Muli';
  font-size: 1.6rem;
  outline-style: none;
  border: 1px solid var(--color-text-title);
  border-radius: .5rem;
}

input::placeholder {
  color: var(--color-text);
  font-family: 'Muli';
  font-size: 1.6rem;
}

input:required:invalid:focus {
  border: 2px solid var(--color-invalid);
}

input:required:valid:focus {
  border: 2px solid var(--color-valid);
}

/*Phone*/
@media (min-width: 320px) 
  and (max-width: 480px) {
  input {
    width: 25rem;
    height: 5.2rem;
  }
}