:root {
  --color-primary: #BADC58;
  --color-secondary: #fff;
  --color-text: #9E9BAF;
  --color-text-title: #1D164D;
  --color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

::selection {
  background: var(--color-primary);
}

@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli.ttf') format("truetype");
}

@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Bold.ttf') format("truetype");
  font-weight: bold;
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}